<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-center">
        <ion-text>
          <h5>Infracciones No Pagadas</h5>
        </ion-text>
      </div>
    </ion-title>
  </ion-toolbar>
  <ion-searchbar showCancelButton="focus" class="custom" (ionChange)="buscarInfraccion($event)"
    placeholder="Ingrese la placa vehicular">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-card class="card">
    <div *ngFor="let infracciones of infraccionesServices.infracciones | filtro: txtBuscar: 'PlacaVehicular'">
      <ion-card>
        <ion-item *ngIf="infracciones.Pagado === false">
          <ion-label class="ion-text-wrap">
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>
                  <b> Fecha: </b> <br>
                  {{infracciones.createdAt | date:'short'}}
                </h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>
                  <b>Placa Vehicular:</b>
                  <br style="text-transform:uppercase;"> {{infracciones.PlacaVehicular}}
                </h2>

              </ion-label>
            </ion-item>


            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>
                  <b>Sanción: </b> <br>

                  {{infracciones.Sancion}}
                </h2>
              </ion-label>

            </ion-item>
            <ion-item>
              <ion-label>
                <h2>
                  <b>Infracción pagada:</b>
                  <br> <ion-note color="danger">NO.</ion-note>
                </h2>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2>
                  <b>Valor a cancelar:</b>
                  <br> {{infracciones.Valor | currency:'USD' }}
                </h2>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2>
                  <b>Ruta:</b>
                  <br> {{infracciones.Ruta}}
                </h2>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2><b>Marca del vehículo:</b>
                  <br>
                  {{infracciones.Marca}}
                </h2>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2>
                  <b>Modelo del vehículo:</b>
                  <br>
                  {{infracciones.ModeloVehiculo}}
                </h2>

              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label>
                <h2> <b>Tipo de vehículo:</b>
                  <br>
                  {{infracciones.TipoVehiculo}}
                </h2>
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label>
                <b>Color del vehículo:</b>
                <br>
                {{infracciones.ColorVehiculo}} <br>
              </ion-label>
            </ion-item>

          </ion-label>


          <ion-icon (click)="modalPagos()" (click)="pagarInfraccion(infracciones)" name="logo-paypal"></ion-icon>
          <ion-icon
            *ngIf="authService.getCargo() === ' Coordinador General ' || authService.getCargo() === ' Secretario ' "
            (click)="editInfracccion(infracciones)" (click)="modalInfraccion()" name="create-outline"></ion-icon>

          <ion-icon
            *ngIf="authService.getCargo() === ' Coordinador General ' || authService.getCargo() === ' Secretario ' "
            (click)="deleteInfracccion(infracciones._id, infraccionesForm)" name="trash-outline"></ion-icon>


        </ion-item>


      </ion-card>
    </div>
  </ion-card>

</ion-content>