.top-20{
  margin-top: 20px;
}



.class{
  width: 100%;
  margin: auto;
margin-top: 10ch;
 }

 .card {
  border: 0 ;
  box-shadow: none ;
  border: none ;
  border-style: none ;
  size: 100px;
  width: 100%;
  margin: auto;
  background-color: transparent;
}

